language: python
dist: xenial
python:
- '2.7'
- '3.6'
- '3.9'
matrix:
  allow_failures:
  - python: '2.7'
  - python: '3.6'
install:
- pip install pipenv
- pipenv install --dev --deploy --python `which python`
- pipenv graph
script: pipenv run python setup.py test
before_deploy:
- sed -i.bak "s/=get_version()/='$TRAVIS_TAG'/g" setup.py
- cat setup.py
- if [ $(python setup.py --version) == '0.0.0' ]; then travis_terminate 1; fi
deploy:
  provider: pypi
  user: uc-ctds
  skip_existing: true
  skip_cleanup: true
  on:
    python: 3.9
    repo: uc-cdis/userdatamodel
    tags: true
  password:
    secure: VP7I+wQRQhpyIUboRZLUK4S0d2v93khGxt7nK9SwedNkb6Jfz+C03PH46T/8znavxMPQvdxip4Yzivi2whlIE6COR/PDh4QjCjbi+pasCaKhcjBC+i5CoNp0OYkFDV49XB2mNaPMu8OZ2xtJxaGJyW0INgu/dWZjNu77TCMbsLCA3R1kQPZWsVX3hD5mNS+2fS1sAK6eiFrXCpGziHOGN6M+DIBF/GS1GNh/k+TK+cf7eOl/AaA50La+zES/xLvKA7D6lIXS0JTxy9OuICNNSUmapBtsgkWOKVFnFk2icUth7Rrv9we3ybAxmpAM/H9qhIxUxJBluNxhXUZu8760kW90dB0pPTpYZ4oGCHtx3d/Cj2298AYvZznPkk04KM/Knnw6/eUcseoMOiAG+ev/NCJjfrazfbBKRYXYj0c40R7p0iilCf38GgP+LVMhJP6uYfFFBl2XJerKEWYOkuyHB8TQv4yGQXGW2RVsfvzQHz5caCtLXdR0KcTCJ4JYwBDGFnvUeB0D+fIZY8P5kuHgekgPD4D8QX+kM9sCCxpxEeULjmw2IBBCsbkMwTASz7IJkMXmJgfOndPUr7kz25QhvZHLxZdYY+Bb9Xi1dOb0VS6OB08kMdBz8tayUTZ6rpAbI1/GOlsrYJI5g6LgQzA2iFnBI5lJuZecUs4486mhRx8=
after_deploy:
- pipenv run pip install gen3git
- pipenv run gen3git release
env:
  global:
    secure: k5YFaPRfVGnzEFJUHrkZYBqeNBMjWcxMbX34yi1aKTH7wv2qFFJH2FQug1Togoa5s2mDjD9S1uhje0e1+WLT1s59OgKCrOOjusXZykm9ZQH/NNO/bx1umqCK8jPzhMj+QZbUJ4qVRyJH5TBxSwJkGU7hCiHr3wha5KRMU7zR49mG8ELrObtyY9fYJiK7OHPWBh1/6+h0hWjrjqMBixiRAcPMvPsUt0vynPb6c4oHtqBCz1O4otJCLMwuIeYW/Ia7xj9MXE+BrNzOmQuwElmwoJXAFB81uu+HK3kp15T2MzmCg/YmbqmkM6UE3pMXfOx4uefXOXvVT1SRrIFlo9n6pLk2PbUvlDlUAOJnViyUnslYLx/IgDvghRs30Dr3fvTngWDSVLZsJ/RnGZEslnV67PwYQuVOoZO34GJNTtsf4WNvMXLnOVvrcdj4sqIcOFhB4TD/YHXq2lFXfEonnzdViQVvXglHe0w5jUVgXY4sewBxj/jxAsu3RXSc697qX0TUSBTN6ZwXu1z1EKl8pTZoOMZ9UFW5D5crTaxRyTpUDuEOGa1bHLnS/Re/GCYfo1gmj9vHdYA4ZXdMStZ6PjW92M55QCytttOAJ34DuTYzAm9KNyl2bFTGfZrDGj0S3lIJzkO8i6vkhuSQNmyiHywSrtx3cqIlfbiOS4fiGdYsNaw=
